<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>NJIT</title>
</head>
<body>
<h3>Register</h3>

<form action="#" th:action="@{/register}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword"/>
    </div>
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"/>
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName"/>
    </div>
    <div>
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="STUDENT">Student</option>
            <option value="FACULTY">Faculty</option>
        </select>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

<h6>Have an account? <a href="/login">Login here</a></h6>
</body>
<script>
    var password = document.getElementById("password")
        , confirmPassword = document.getElementById("confirmPassword");

    function validatePassword(){
        if(password.value !== confirmPassword.value) {
            confirmPassword.setCustomValidity("Passwords Don't Match");
        } else {
            confirmPassword.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;
</script>
</html>
